@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


/* header part styles */

nav {
    margin-top: 30px;
}

.nav-container {
    width: 87%;
    /* border: 2px solid red; */
    display: flex;
    margin: 0 auto;
}

.nav-logo-and-name-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-logo-and-name-container h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.tour {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav-items-container {
    width: 40%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 10%;

}

.nav-items-container a {
    text-decoration: none;
    justify-content: space-between;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.nav-items-container:first-child {
    font-weight: 700;
}

hr {
    display: none;
}


/* Banner section style */

.banner {
    width: 87%;
    margin: 50px auto;
    text-align: center;
    /* padding-top: 20px; */
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner.png');
    background-size: cover;
    height: 500px;
    border-radius: 16px;
}

.banner h1 {
    padding: 106px 0px 24px 0px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner p {
    padding: 0px 220px 0px 220px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-input-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 59%;
    margin: 20px auto;
}

.banner-input-container input {
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 15px 20px;
    width: 174px;
    margin: 10px;
}

.banner-input-container input:last-child {
    background-color: #FF5400;

}

.banner-input-container input:last-child::placeholder {
    color: white;
}

/* Popular tours section styles */


.popular-tours {
    display: flex;
    width: 87%;
    margin: 0 auto;
    gap: 20px;
    padding-top: 60px;
}



.popular-tours-content h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding: 20px 0 25px 0;
}

.popular-tours-content p,
ul {
    width: 93%;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-tours-content ul {
    margin-left: 30px;
}

.popular-tours-content button {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: white;
    padding: 15px 30px;
    margin-top: 20px;
    font-weight: 600px;
}

.destination-photo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 3px;
}

.destination-photo img {
    width: 100%;
    height: 100%;
}


/* Why choose us section style */

.why-choose-us {
    width: 87%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.why-choose-us img{
    padding-bottom: 10px;
}

.why-choose-us-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;

}

.why-choose-us-title-description {
    width: 650px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 50px;

}

.choosing-reason {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    gap: 50px;
    margin-bottom: 50px;
    text-align: left;
}


.Handpicked-Hotels {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}

.Handpicked-Hotels h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
}

.Handpicked-Hotels p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}


.World-Class-Service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}

.World-Class-Service h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
}

.World-Class-Service p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.Best-Price-Guarantee {
    width: 38%;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 30px;
    text-align: left;
}

.Best-Price-Guarantee h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
}

.Best-Price-Guarantee p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}





/* Responsive for mobile */

@media screen and (max-width: 600px) {
    .nav-container {
        width: 100%;
    }

    .nav-logo-and-name-container {
        justify-content: center;
        width: 100%;
        padding-right: 110px;
    }

    .nav-items-container {
        padding-top: 20px;
        width: 100%;
        flex-direction: column;
        height: 40px;
        width: 40px;
        padding-right: 50px;
    }

    .nav-items-container hr {
        display: block;
        border: 1px solid black;
        width: 24px;
    }

    .nav-items-container a {
        display: none;
    }

    .banner h1 {
        font-size: 30px;
        padding-top: 50px;
        padding-bottom: 10px;

    }

    .banner p {
        padding: 0 20px;
        font-size: 14px;
        line-height: 20px;

    }

    .banner-input-container {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        width: 67%;
        margin: 20px auto;
        padding: 15px 0;
    }

    .banner-input-container input {
        border-radius: 8px;
        background: #FFF;
        border: none;
        padding: 15px 20px;
        width: 224px;
        margin: 10px;
    }

    .popular-tours {
        flex-direction: column;
        padding-top: 0px;
    }


    .popular-tours-img img {
        width: 100%;
        height: 442px;
        padding-top: 20px;
    }

    .why-choose-us-title-description{
        width: auto;
    }

    .choosing-reason{
        flex-direction: column;
        width: 100%;
    }

    .Best-Price-Guarantee{
        width: 100%;
    }
}